<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new user</title>
</head>
<body>
    <div id="main">
        <h1>Add a new user</h1>
        <form action="/new" method="post">
            <label for="f_name">First name</label>
            <input type="text" name="f_name">
            <label for="l_name">Last name</label>
            <input type="text" name="l_name">
            <label for="email">Email</label>
            <input type="text" name="email">
            <button>Create</button>
        </form>
        <a href="/">Go Back</a>
    </div>
</body>
</html>