<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Show</title>
</head>
<body>
    <h1>User {{result[0]["id"]}}</h1>
    <h3>Full name: {{result[0]["name"]}}</h3>
    <h3>Email: {{result[0]["email"]}}</h3>
    <h3>Created: {{result[0]["created"]}}</h3>
    
    <a href="/edit/{{result[0]["id"]}}">Edit</a>
    <a href="/delete/{{result[0]["id"]}}">Delete</a>
</body>
</html>